@page "/samplepage"

@*Se puede poner el using aquí pero, si el componente va a ser utilizado por muchas otros componentes se puede poner en el file _Imports.razor*@

@*@using CarRentalManagement.Client.Components*@

<h3>SamplaPage</h3>

<h5>This is a sample page</h5>

<SamplePageContentComponent />

@code {

}
